.button {
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 0.9em;
    background-color: #F4CE14;
    cursor: pointer;
    max-height: 35px;
}

.button:hover {
    background-color: #e6bb12;
}